# XGBoost

## The dataset contains information about 10,000 bank customers with various parameters as shown below, our job is to find whether the customer will leave the bank or not.

In [ ]:
# Importing the libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# Importing the dataset

Dataset = pd.read_csv("Churn_Modelling.csv")

In [3]:
Dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [7]:
X = Dataset.iloc[:, 3:13].values
y = Dataset.iloc[:, 13].values

In [10]:
# Encoding the categorical data

from sklearn.preprocessing import LabelEncoder, OneHotEncoder
LabelEnco_1 = LabelEncoder()
X[:, 1] = LabelEnco_1.fit_transform(X[:, 1])

LabelEnco_2 = LabelEncoder()
X[:, 2] = LabelEnco_2.fit_transform(X[:, 2])

OneHotEnco = OneHotEncoder(categorical_features = [1])
X = OneHotEnco.fit_transform(X).toarray()
X = X[:, 1:]

In [12]:
# Splitting the data into train and test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [15]:
# Fitting XGBoost to the training set

from xgboost import XGBClassifier
Classifier = XGBClassifier()
Classifier.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [16]:
# Predicting the test set results

y_pred = Classifier.predict(X_test)

In [17]:
# Making the confusion matrix

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_pred, y_test)
cm

array([[1545,  224],
       [  47,  184]], dtype=int64)

In [19]:
Accuracy = ((1545 + 184)/(1545 + 184 + 224 + 47)) * 100 
Accuracy

86.45

In [20]:
# Applying K-fold cross validation

from sklearn.model_selection import cross_val_score
accuracies = cross_val_score(estimator = Classifier, X = X_train, y = y_train, cv = 10)

0.0083651654957291027

In [21]:
accuracies.mean()

0.86362683359661507

In [22]:
accuracies.std()

0.0083651654957291027

## The accuracies mean is about 86%, it has variance of <1%, therefore the accuracies might vary from (85 - 87)%